.logo {
  width: 85px;
}
.p-layout {
  height: 620px;
}
.add-form {
  padding: 20px;
}

.sidebar {
  display: block;
}
.right-panel {
  background-color: rgba(240, 240, 240, 0.867);
}
.list-crud-operation {
  padding-top: 20px;
}
.icons-layout {
  padding: 10px;
  margin-left: 10px;
  padding-left: 10px;
}
.bi-trash3,
.bi-pencil-square {
  cursor: pointer;
}

.pen {
  padding-left: 10px;
}
.edit-product-layout {
  padding: 10px;
}
